main{
    background-color: rgb(36, 36, 36);
    color: rgb(255, 249, 238);
    padding: .5em;

}

a{
    text-decoration: none;
    color:rgb(255, 249, 238)
}

h2{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(36, 36, 36);
}

h3{
    font-family: "hoss-round-wide", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    padding: .2em 0 0;
}