.article-card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 1em;
    border: 3px solid rgb(255, 249, 238);
    border-radius: 10px;
    color:rgb(36, 36, 36);
    background-color: rgb(255, 249, 238);
}

img{
    margin: 1em 0 0;
    max-width: 100%;
    border: 2px solid rgb(255, 249, 238);
    border-radius: 10px;
}

.article-card-text{
    color: rgb(36, 36, 36);
}

.article-card-sub-info{
    display:flex;
    justify-content: space-between;
}

.right-side{
    text-align: end;
}