.article-container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  /* margin: .5rem; */
  color: rgb(255, 249, 238);
}

.article-body {
    margin: 1rem 0;
  font-family: "hoss-round-wide", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.likes, .comments{
    font-family: "hoss-round-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
}
